body {
    background-image: url(/assets/playpen_texture.jpg);
    background-size: contain;
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#message {
    background-image: url(/assets/paper_texture.jpg);
    background-size: contain;
    max-width: 36em;
    margin: 100px auto 16px;
    padding: 32px 24px;
    border-radius: 3px;
    font-family: 'Courier Prime', monospace;
}

#message h2 {
    color: #B31B1B;
    font-weight: bold;
    font-size: 16px;
    margin: 0 0 8px;
}

#message h1 {
    font-size: 22px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
    margin: 0 0 16px;
}

#message p {
    margin: 0;
    text-align: center;
    line-height: 3.6;
    vertical-align: middle;
    overflow: hidden;
    font-size: 16pt;
    color: lightgray;
    display: inline-block;
}

#message, #message a {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#chat {
    position: fixed;
    background-image: url(/assets/paper_texture.jpg);
    background-size: contain;
    max-width: 360px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 50px auto 100px;
    padding: 32px 24px;
    border-radius: 3px;
    font-family: 'Courier Prime', monospace;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

#chat h2 {
    color: #B31B1B;
    font-weight: bold;
    font-size: 16px;
    margin: 0 0 8px;
}

#chat h1 {
    font-size: 22px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
    margin: 0 0 16px;
}

#chat p {
    line-height: 140%;
    margin: 16px 0 24px;
    font-size: 14px;
}

#chat input {
    float: left;
    flex-grow: 1;
    padding: 12px 20px;
    margin: 8px 0;
    color: black;
    background-color: transparent;
    border: 1px #B31B1B solid;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Courier Prime', monospace;
    font-size: 14pt;
}

#chat input::placeholder {
    color: darkgray;
    opacity: 1;
  }

#chat button {
    float: left;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: transparent;
    border: 1px #B31B1B solid;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Courier Prime', monospace;
    font-size: 14pt;
}

#chatContainer {
    overflow-y: scroll;
    height: calc(100% - 6.5em);
}

.player-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: scale(1.5) rotate(-45deg);
    background-image: url('../assets/avatar.jpg');
    background-size: cover;
    filter: grayscale(30%);
}

.player-alt {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    transform: translateY(75%) rotate(45deg);
    display: block;
    border: 1px solid #000;
    box-sizing: border-box;
    margin-bottom: 50%;
}

.player-alt:before {
    content: "";
    display: block;
    padding-top: 100%;
    /* initial ratio of 1:1*/
}

.player {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    transform: rotate(45deg);
    display: block;
    border: 1px solid #000;
    box-sizing: border-box;
    margin-bottom: 50%;
}

.player:before {
    content: "";
    display: block;
    padding-top: 100%;
    /* initial ratio of 1:1*/
}

.locked-puzzle {
    background-image: url(/thefirstgame/assets/lock.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.completed-puzzle {
    background-image: url(/thefirstgame/assets/check.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#load {
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
    font-size: 13px;
}

@media (max-width: 600px) {
    body, #message, #chat {
        margin: 0 0 0 0;
        background-image: url(/assets/paper_texture.jpg);
        background-size: contain;
        box-shadow: none;
    }
    body {
        border-top: 16px solid #B31B1B;
    }
    #message h2 {
        margin-top: 3em;
    }
}